@font-face {
    font-family: 'Museo';
    src: url('MuseoSans_500.otf');
  }
  

body{
    margin:0;
    width: 100%;
    padding:0;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.1rem;
    color:#100c20;
}

h1,h2,h3{
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Museo';

}
.menu{
    cursor: pointer;
}
.green-word{
    color:#02d897;
}
.container{
    width:60%;
    margin: 0 auto;
}
.home{
    width:100%;
    height:100vh;
    background-image:url('../img/HOME_fundo-capa.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.capa{
    width:55%;
    justify-self: flex-end;

}
.header{
    display:flex;
    justify-content: space-between;
    padding:25px;

}

.home-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    height:95vh;
}

.home-area h1{
    color:#fff;
    font-size: 2rem;
    align-self: center;
}

.quem-somos .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.quem-somos{
    background-color:#100c20;
    color:#fff;
    height:60vh;
    margin-top:-20px;
}
.quem-somos h2{
    width:30%;
    font-size: 3rem;
    text-align: right;
    padding-right:15px;
    color:
}
.quem-somos p{
    width:40%;
    text-align: justify;
}

.servicos{
    padding:35px 0;
}
.servicos .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.servicos h2{
    color:#07a981;
    font-size: 2rem;;
}
.servicos .container p{
    width:35%;
    text-align: justify;
}
.servicos-info{
    width:60%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.servicos-info img{
    width: 100px;
    margin-top: 25px;
}
.servicos-info div{
    display:flex;
    flex-direction: column;    
    align-items: center;
    justify-content: flex-end;
}
.serv-info h3{
    margin-bottom: 0;
}
.serv-info p{
    width:80%;
    margin-top: 10px;
}
.portfolio{
    width:100%;
    text-align: center;
    color:#fff;
    padding:25px 0 0 0;
    background-image:url('../img/HOME_fundo-capa.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -5;

}
.portfolio h2{
    text-transform: uppercase;
    color:#02d897;
    font-size: 2rem;
}
.portfolio p{
    width:25%;
    margin:0 auto;
    margin-bottom: 25px;
}
.trabalhos{
    width:100%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.trabalhos > div{
    overflow: hidden;
    z-index: 3;
}
.trabalhos img{
    width:100%;
}
.descricao{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:20%;
    height: 42.8%;
    background-color: #02d897;
    opacity: 0%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
}
.descricao:hover{
    opacity: 97%;
    cursor:pointer;
}
.descricao p{
    width: 90%;
}
.contato{
    padding:35px 0;
    
}

.contato h3{
    margin-top:55px;
}
.contato img{
    margin-right: 10px;
    vertical-align: middle;
}
.social-icons{
    display:flex;
}

.footer{
    padding:55px 0;
    background-color:#100c20;
    color:#fff;
}

.footer ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.footer li{
    margin:5px 0;
}

.footer a{
    color:#fff;
    text-decoration: none;
}


.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.main-menu{
    font-family: 'Museo';
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}
.main-menu ul{
    list-style-type: none;

}
.main-menu ul li{
    padding: 15px 0;
}
.main-menu ul li a{
    color:#02D89E;
    text-decoration: none;
}

.hide{
    display: none;
}

@media (max-width: 700px){
    .home-area{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        height:90vh;
    }
    
    .home-area img{
        width: 500px;
    }
    .home-area h1{
        text-align: center;
        font-size: 1.5rem;
        align-self: center;
    }
    .quem-somos{
        background-color:#100c20;
        color:#fff;
        height:100%;
        margin-top:-20px;
        padding: 35px 0;
    }
    .quem-somos h2{
        width:100%;
        font-size: 3rem;
        text-align: right;
        
    }
    .quem-somos p{
        width:95%;
        text-align: justify;
    }
    
    .quem-somos .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .servicos-info{
        width:90%;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }
    .servicos-info img{
        width: 100px;
        margin-top: 45px;
    }
    .servicos .container{
        align-items: center;
    }
    .servicos .container p{
        width:100%;
        margin: 0 auto 35px auto;
        text-align: justify;

    }
    .portfolio p{
        width:80%;
    }
    .descricao{
        width:100%;
        height: 100%;
        background-color: #02d897;
        opacity: 0%;
        text-align: center;
        align-self: center;
    }
    .trabalhos{
        grid-template-columns: 1fr;
    }
    .footer-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
   
    .contato .container img{

        margin-right: 10px;
        width:35px;
    }
    
}